$NSdatepicker: (
  padding: 20px,
  cellWidth: 14%,
  cellWidthWeekend: 15%,
  cellHeight: 50px,
  dateRadius: 15px,
  weekendBg: transparent,
  weekendColor: #c00,
  todayBg: #c00,
  todayColor: #ffffff,
  hoverBg: #eeeeee,
  hoverColor: #000000,
  selectedBorder: #c00,
  selectedBorderSize: 2px,
  color: #000,
  bg: transparent,
  monthColor: #999,
  hoverOffset: 3px
);
